<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

<div class="jumbotron">
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-addon">Q</div>
      <input ng-model="search_id" class="form-control" type="text" placeholder="Type Wikidata ID">
    </div>
    <button ng-disabled="!regex.test(search_id)" ng-click="get_entity_info(search_id,language.val, strategy.val)" class="btn btn-primary">Get InfoBox</button>
    <div class="select-group">
      <select class="form-control" id="language" ng-model="language" ng-options="lang as lang.val for lang in langs">
      </select>
      <select class="form-control" id="strategy" ng-model="strategy" ng-options="strat as strat.val for strat in strats">
      </select>
    </div>
  </form>
</div>

<div ng-show="data_flag">
  <table align="center" class="table table-bordered table-striped">
    <col>
    <col>
    <thead>
      <th></th>
      <th class="infobox-header">{{entity_label}}</th>
    </thead>
    <tbody>
      <tr>
        <th>Description:</th>
        <td>{{entity_description}}</td>
      </tr>
      <tr ng-repeat="entry in info_box">
        <th>{{entry.pLabel.value}}:</th>
        <td>{{entry.valLabel.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
